.main{
	background-color: #8E3B46;
	/*width: 500px;*/
	height: 625px;
	margin: auto;
	/*margin-left: 10px;*/
	border-radius: 15px;
	position: absolute;
}
.body{
	background-color: #CED0CE;
	font-family: Wendy; font-size: 25px; font-weight: normal; letter-spacing: 0px;

}
.dissap{
	display: none;
}
.main1{
	background-color: #E0777D;
	/*width: 200px;*/
	height: 600px;
	margin: auto;
	/*margin-left: 5px;*/
	border-radius: 20px;
	width: 200px;
}
.title{
	text-align: center;
	margin-top: 20px;
}
.into{
	font-size: 20px;
}
.underline{
	text-decoration: underline;
}
.back{
	background-color: #FFFBFC;
	height: 550px;
	width: 95%;
	border-radius: 15px;
	margin-top: 20px;
	margin-bottom: 5px;
	position: absolute;
}
.userInput{
	position: absolute;
	padding-top: 580px;
}
#b1{
	background-color: white;
	text-align: center;
	height: 70px;
	width: 100px;
	margin-left: 20px;
	margin-top: 30px;
	border-radius: 20px;
	border: 1px solid lightgray;
}
#b2{
	background-color: white;
	text-align: center;
	height: 70px;
	width: 100px;
	margin-right: 50px;
	margin-top: 30px;
	margin-left: 90px;
}
#sideBar{
	margin-top: 10px;
	margin-bottom: 10px;
	
}
.Turn{
	color: white;
}
.b1{
	background-color: white;
	text-align: center;
	height: 70px;
	width: 100px;
	margin-left: 20px;
	margin-top: 30px;
	top: 10%;
	left: 80%;
	border-radius: 20px;
	border: 1px solid lightgray;
	/*position: relative;*/
	position: absolute;
}
.buttp2{
	border-radius: 5px;
}
.heart1{
	margin-bottom: 5px;
	width: 50px;
	height: 50px;
}
.heart2{
	margin-bottom: 5px;
	width: 50px;
	height: 50px;
}
.heart3{
	margin-bottom: 5px;
	width: 50px;
	height: 50px;
}
.lives{
	margin-top: 10px;
}
.restart1{
	margin-bottom: 30px;
	border-radius: 20px;
    background-color: lawngreen;
    border: 2px solid black;
}
.instruct{
	border: 2px solid green;
	width: 100px
}
.h1{
	filter: grayscale(100%);
}
.st{
	display: none;
}
.instr{
	margin: 5px;
}
.intro{
	padding-top: 10px;
	border: 2px solid grey;
}
.gameName{
	padding-top: 15px;
}
.welcome{
	text-align: center;
}
.score{
 	border: 2px solid grey;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 16px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

