.main{
	background-color: #8E3B46;
	/*width: 500px;*/
	height: 625px;
	margin: auto;
	/*margin-left: 10px;*/
	border-radius: 15px;
	position: absolute;
}
.body{
	background-color: #CED0CE;
}
.dissap{
	display: none;
}
.main1{
	background-color: #E0777D;
	/*width: 200px;*/
	height: 600px;
	margin: auto;
	/*margin-left: 5px;*/
	border-radius: 20px;
	width: 200px;
}
.title{
	text-align: center;
	margin-top: 20px;
}
.back{
	background-color: #FFFBFC;
	height: 550px;
	width: 95%;
	border-radius: 15px;
	margin-top: 20px;
	margin-bottom: 5px;
	position: absolute;


}
.userInput{
	
	position: absolute;
	padding-top: 580px;



}

#b1{
	background-color: white;
	text-align: center;
	height: 70px;
	width: 100px;
	margin-left: 20px;
	margin-top: 30px;
	border-radius: 20px;
	border: 1px solid lightgray;
}
#b2{
	background-color: white;
	text-align: center;
	height: 70px;
	width: 100px;
	margin-right: 50px;
	margin-top: 30px;
	margin-left: 90px;
}
#sideBar{
	margin-top: 10px;
	margin-bottom: 10px;
	
}
.Turn{
	border: 3px solid red;
}
.b1{
	background-color: white;
	text-align: center;
	height: 70px;
	width: 100px;
	margin-left: 20px;
	margin-top: 30px;
	top: 50%;
	left: 50%;
	border-radius: 20px;
	border: 1px solid lightgray;
	position: relative;
}
.buttp2{
	border-radius: 5px;
}
